/* components/Content.css */
.services-container {
    display: flex;
    min-height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 180px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 120px;
    overflow: hidden;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card h3 {
    margin: 5px 0;
    font-size: 14px;
}

.service-card p {
    color: #6c757d;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-now {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.book-now:hover {
    background-color: #0056b3;
} 